@model IEnumerable<ProjetoBiblioteca.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro do Livro</h1>

<p>
    <a class="btn-primary"asp-action="Create">Cadastrar Novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Livro", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                    <a class="btn-primary"asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn-primary"asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn-primary" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
