@model ProjetoBiblioteca.Models.Datas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Datas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à Lista</a>
</div>
