@model IEnumerable<ProjetoBiblioteca.Models.Data>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Datas</h1>

<p>
    <a class="btn-primary" asp-action="Create">Cadrastar Novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Data", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRetirada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devolvido)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRetirada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devolvido)
            </td>           
            <td>
                    <a class="btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn-primary" asp-action="Details" asp-route-id="@item.Id">Detailhes</a> |
                    <a class="btn-primary" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
